extends ../../../home/base/views/index

block title
    title Your Activities

block main
  ul(data-ng-controller="TrackingCtrl", class="tracking")
    li(
      data-ng-repeat="activity in activities | filter:applyFilter"
      data-ng-controller="ActivityCtrl"
    )
      .pull-right.duration.sum(
        data-ng-click="toggleRunning()"
        data-ng-class="{ running: isRunning() }"
      )
        .action.span(
          data-ng-show="!isRunning()"
        ) &#x25B6;
        .action.span(
          data-ng-show="isRunning()"
        ) &#x25FE;
        .pull-right {{ activity.timeslices | sumDuration }}
      h4 {{activity.description}}
      span.tags
      .relations
        .row
          .span2.relation(
            data-ng-click="showCustomerList = !showCustomerList"
          )
            .icon-user
            span(
              title='Click to change'
            ) {{activity.customer.name}}
            ul(data-ng-class='{"active": showCustomerList}')
              li
                a(data-ng-click='activity.customer=null')
                  | Kein Kunde
              li(
                data-ng-repeat='customer in customers'
                data-ng-model='activity.customer'
              )
                a(data-ng-click='activity.customer=customer')
                  {{customer.name}}
          .span2.relation(
            data-ng-click="showProjectList = !showProjectList"
          )
            .icon-folder-open
            span(
              title='Click to change'
            ) {{activity.project.name}}
            ul(data-ng-class='{"active": showProjectList}')
              li
                a(data-ng-click='activity.project=null')
                  | Alle Projekte
              li(
                data-ng-repeat='project in projects'
                data-ng-model='activity.project'
              )
                a(data-ng-click='activity.project=project')
                  {{project.name}}
          .span2.relation(
            data-ng-click="showServiceList = !showServiceList"
          )
            .icon-cog
            span(
              title='Click to change'
            ) {{activity.service.name}}
            ul(data-ng-class='{"active": showServiceList}')
              li
                a(data-ng-click='activity.service=null')
                  | Alle Services
              li(
                data-ng-repeat='service in services'
                data-ng-model='activity.service'
              )
                a(data-ng-click='activity.service=service')
                  {{service.name}}
          .span1.relation(
            data-ng-click="showTimeSlices = !showTimeSlices"
          )
            .icon-list(title='Show timeslices')
      ul.timeslices(data-ng-show="showTimeSlices")
        li(
          data-ng-repeat="timeslice in activity.timeslices | orderBy:'-stopped_at':'false'"
        )
          .row
            .span2.duration
              | {{ timeslice.duration | formatDuration }} h
            .span5.date
              | ({{timeslice.started_at | date:'medium' }}
              |  - {{timeslice.stopped_at | date:'medium' }})
            .span1
              a(href="", data-ng-click="alert('Not yet implemented')")
                i.icon-remove(data-ng-click="timeslice.del")
